<h2 class="container col-md-5" >Sign Up</h2>

<form [formGroup]="registerForm" class="container col-md-5 border p-4 rounded"  (ngSubmit)="onSubmit()" style="margin-top: 20px;">

  <div class="form-group ">
      <label for="fullName"> Enter Name</label>
      <input type="text" formControlName="fullName" class="form-control"  [ngClass]="{ 'is-invalid': submitted 
      && f['fullName'].errors }">
      <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">Invalid name</div>
      <div *ngIf="f['fullName'].errors?.['required']" style="color: red; font-size: small;">Name is required</div>
  </div>

  <div class="form-group ">
      <label for="phone">Contact Number</label>
      <input type="text" formControlName="phone" class="form-control"  [ngClass]="{ 'is-invalid': submitted 
      && f['phone'].errors }">
      <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">Invalid contact number</div>
      <div *ngIf="f['phone'].errors?.['required']" style="color: red;font-size: small;">ContactNumber is required</div>
  </div>

  <div class="form-group ">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control"  [ngClass]="{ 'is-invalid': submitted 
      && f['email'].errors }">
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">Invalid email</div>
      <div *ngIf="f['email'].errors?.['required']" style="color: red;font-size: small;">Email is required</div>
  </div>

  <div class="form-group ">
    <label for="gender"> Select Gender</label>
    <!-- <input type="text" formControlName="gender" class="form-control" > -->
    <select formControlName="gender" class="form-control">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <!-- <div *ngIf="f['gender'].errors?.['required']" style="color: red;font-size: small;">Gender is required</div> -->
</div>

  <div class="form-group ">
      <label for="username">Enter username</label>
      <input type="" formControlName="username" class="form-control"  [ngClass]="{ 'is-invalid': submitted 
      && f['username'].errors }">
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">Invalid username</div>
      <div *ngIf="f['username'].errors?.['required']" style="color: red;font-size: small;">Username is required</div>
  </div>

  <div class="form-group ">
    <label for="password">Enter Password</label>
    <input type="" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted 
    && f['password'].errors }">
    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">Invalid password</div>
    <div *ngIf="f['password'].errors?.['required']" style="color: red;font-size: small;">password is required</div>
</div>

  <br>
  <button type="submit" [disabled]="!registerForm.valid"  class="btn btn-primary">Send</button>


</form>